* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: black;
}

.web-body {
  position: relative;
  display: flex;
}

/*----- SIDEBAR START -----*/
.web-body .side-bar {
  position: fixed;
  height: 100%;
  width: 200px;
  background: black;
  padding: 20px 0;
  border-right: 2px solid white;
}

.web-body .side-bar h2 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.web-body .side-bar ul li {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.web-body .side-bar ul li a {
  color: white;
  margin-top: 13px;
  margin-bottom: 12px;
  font-weight: 100px;
  display: block;
}

.web-body .side-bar ul li:hover {
  background: white;
}

.web-body .side-bar ul li:hover a {
  color: black;
}
/*----- SIDEBAR END -----*/

/*----- SCROLLBAR START -----*/
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: white;
  border: 7px solid black;
  border-radius: 4vw;
  margin-block: 2em;
}

::-webkit-scrollbar-thumb {
  background: black;
  border: 2px solid white;
  border-radius: 5vw;
  margin-block: 5em;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
  border: 2px solid black;
}
/*----- SCROLLBAR END -----*/

.web-body .content {
  width: 100%;
  margin-left: 200px;
  color: white;
}

.web-body .blank-space {
  height: 50vh;
  background: black;
}

/*----- MAIN START -----*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main img {
  width: 250px;
  border-radius: 50%;
}

.main .text {
  padding-left: 15px;
  font-size: 45px;
}

.main .text p {
  border: 2px solid white;
  padding: 10px;
  border-radius: 1vw;
}
/*----- MAIN START -----*/

/*----- ABOUT START -----*/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
}

.about img {
  width: 350px;
  border-radius: 5%;
}

.about p {
  margin-left: 30px;
  padding: 15px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 1vw;
  text-align: justify;
}
/*----- about END -----*/

/*----- PORTFOLIO START -----*/
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.portfolio .description {
  margin: 20px 30vh;
  border: 2px solid white;
  padding: 10px;
  border-radius: 1vw;
}
/*----- PORTFOLIO END -----*/

/*----- CONTACT START -----*/
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: black;
}

.contact h3 {
  padding-bottom: 20px;
  padding-left: 5px;
}

.contact .social {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  border-radius: 1vw;
  padding: 10px 30px;
}

.contact .social .media {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.contact .social .media svg {
  fill: white;
  width: 50px;
}

.contact .social .media p {
  padding-left: 5px;
}

/* .contact .email {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 1vw;
  padding: 40px 20px;
  width: 65%;
  max-width: 600px;
} */

/* .contact .email input,
.contact .email textarea {
  border: 2px solid white;
  border-radius: 1vw;
  background: transparent;
  margin: 3px;
  padding: 10px;
  color: white;
  outline: none;
  resize: none;
}

.contact .email button {
  border: 2px solid white;
  border-radius: 1vw;
  background: transparent;
  color: white;
  padding: 10px;
  margin: 10px 20%;
}

.contact .email button:hover {
  border: 2px solid black;
  background: white;
  color: black;
  cursor: pointer;
} */
/*----- CONTACT END -----*/

.credit {
  display: flex;
  justify-content: left;
  align-items: none;
  padding: 10px;
}
